body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #313131;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
  color: #313131;
}

.nav-links a:hover {
  color: #f4a261;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: white;
}

.hero-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f77f00; 
  height: 100vh; 
  margin: 0; 
}

.hero-text {
  flex: 1;
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; 
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.hero-text p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.hero-image {
  flex: 1;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* media q's */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: flex;
  }

  .hero-banner {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    padding: 20px;
  }

  .hero-image img {
    width: 100%;
    height: auto;
  }
}